@import "tailwindcss";

:root {
  --primary: #007986;
  --primary-hover: #005764;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  background: #f9fafb;
  min-height: 100vh;
}

/* Animación para el toast */
@keyframes slide-in {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slide-in 0.3s ease-out;
}
